<div class="btn btn-group">
<button class="btn btn-primary" (click)=refresh()>Refresh</button>
<button class="btn btn-primary" (click)="add()">Add</button>
<button class="btn btn-primary">Update</button>
</div>
<ag-grid-angular
    class="ag-theme-bootstrap h-100 w-100"
    [rowData]="rowData"
    [rowSelection]="'multiple'"
    (cellValueChanged)="onCellValueChanged($event)"
    (pasteStart)="onPasteStart($event)"
    (pasteEnd)="onPasteEnd($event)"
    [enableRangeSelection]="true"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
    [processDataFromClipboard]="processDataFromClipboard"
    [columnDefs]="columnDefs">
</ag-grid-angular>
